apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: datasource-alert-{{ grafana_label }}
  namespace: {{ dsc.grafana.namespace }}
spec:
  valuesFrom:
    - targetPath: "secureJsonData.httpHeaderValue1"
      valueFrom:
        secretKeyRef:
          name: {{ gf_sa_secret_name }}
          key: "token"
  instanceSelector:
    matchLabels:
      app: {{ grafana_label }}
  datasource:
    basicAuthUser: internal
    access: proxy
    editable: true
    secureJsonData:
      httpHeaderValue1: "Bearer ${token}"
    name: AlertManager
    url: https://alertmanager-main.openshift-monitoring.svc.cluster.local:9094
    jsonData:
      httpHeaderName1: Authorization
      timeInterval: 5s
      tlsSkipVerify: true
    basicAuth: false
    isDefault: false
    version: 1
    type: alertmanager