keycloak:
  auth:
    adminUser: "admin"
  production: true
  proxyHeaders: xforwarded
  extraEnvVars:
    - name: DSFR_THEME_HOME_URL
      value: https://console.apps.dso.hp.numerique-interieur.com
    - name: DSFR_THEME_SERVICE_TITLE
      value: Cloud Pi Native
    - name: DSFR_THEME_BRAND_TOP
      value: "Ministere<br/>de l'interieur"
    - name: DSFR_THEME_CONTACT_EMAIL
      value: cloudpinative-relations@interieur.gouv.fr
  replicaCount: 3
  podSecurityContext:
    enabled: false
  containerSecurityContext:
    enabled: false
  resources:
    limits:
      memory: "2048Mi"
    requests:
      memory: "1024Mi"
  initContainers:
    - name: realm-ext-provider
      image: docker.io/curlimages/curl:8.8.0
      imagePullPolicy: IfNotPresent
      command:
        - sh
      args:
        - -c
        - curl -k -L -f -S -o /emptydir/app-providers-dir/keycloak-theme-dsfr.jar https://github.com/codegouvfr/keycloak-theme-dsfr/releases/download/v2.1.4/keycloak-theme-for-kc-26-and-above.jar
      volumeMounts:
        - name: empty-dir
          mountPath: /emptydir
  ingress:
    enabled: true
    ingressClassName: openshift-default
    pathType: "Prefix"
    apiVersion: ""
    hostname: "keycloak.apps.dso.hp.numerique-interieur.com"
    path: /
    annotations:
      cert-manager.io/cluster-issuer: acme-issuer
      route.openshift.io/termination: "edge"
    labels: 
      app: "keycloak"
    tls: true
    secrets: []
  networkPolicy:
    enabled: false
  serviceAccount:
    create: true
    name: ""
    automountServiceAccountToken: true
    annotations:
    extraLabels:
  pdb:
    create: false
  metrics:
    enabled: false
  postgresql:
    enabled: false
  externalDatabase:
    host: keycloak-pg-cluster-rw
    port: 5432
    database: keycloak
    existingSecret: pg-cluster-keycloak-app
    existingSecretHostKey: host
    existingSecretPortKey: port
    existingSecretUserKey: username
    existingSecretPasswordKey: password
